<div class = "div-container">
    <div class="content">
        <h3>Projeto desenvolvido para VII Semana de Computação UFF</h3>
    </div>
    <!-- O ngIf é uma diretiva que recebe um valor true ou false (funções q retornan true ou false tambem)
    que diz se uma parte do código 
    deve ser renderizada ou não, aqui estamos verificando se a chamada do mapa foi finalizada
    para só então renderizar, o " | async " é um pipe que serve para chamadas asyncronas, como o apiloaded 
    é um observable, ele se inscreve e se autodestroi quando o componente é fechado, quando podemos
    usar um observable assim com o pipe async dispensa nós termos que dar subscribe e unsubscribe -->

    <div *ngIf="apiLoaded | async">
        <google-map  [options]="options"        
        height="1000"
        width="1200">

        <!-- O ngFor é uma diretiva e trabalha iterando listas e replicando o código no DOM, 
        desse map-info-window ele vai iterar a lista de marcadores e irá criar vários map-marker no mapa,
        sem a gente precisar escrever cada um aqui no template.
         -->
            <map-marker #marker="mapMarker" *ngFor="let markerPosition of marcadores"
            [position]="markerPosition.position"
            (mapClick)="openInfoWindow(marker,markerPosition)"
           ></map-marker>
           <map-info-window></map-info-window>
        </google-map>
      </div>

    </div>